$enable-responsive-font-sizes: true;

@import './node_modules/bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}

body {
    padding-top: 4.45rem;
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.5em 1em;
}

.container-fluid .nav .nav-link {
    color: #888;
}

.container-fluid .nav .nav-link.active {
    color: #000;
}

.sticky-top {
    top: 5rem;
}

@include media-breakpoint-down(xl) {
    html {
        font-size: 0.9em;
    }
}

@include media-breakpoint-down(md) {
    html {
        font-size: 0.8em;
    }
}
