$enable-responsive-font-sizes: true;

@import './node_modules/bootstrap/scss/bootstrap';

body {
    padding-top: 4.45rem;
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.container-fluid .nav .nav-link {
    color: #888;
}

.container-fluid .nav .nav-link.active {
    color: #000;
}

dl ul {
    margin-bottom: 0;
}

.sticky-top {
    top: 5rem;
}

@include media-breakpoint-down(lg) {
    html {
        font-size: 0.9em;
    }

    .container {
        max-width: initial;
    }
}

@include media-breakpoint-down(sm) {
    html {
        font-size: 0.8em;
    }
}
