$enable-responsive-font-sizes: true;
@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/tippy.js/dist/tippy';
@import './node_modules/tippy.js/themes/light-border';

a {
    text-decoration: none;
}

:root {
    --bs-font-sans-serif: 'Roboto',sans-serif;
    font-size: 15px;
}

.text-version {
    word-break: break-word;
}

.file-list {
    max-height: 700px;
    overflow: auto;
}

.copyable {
    display: flex;
    align-items: center;
    width: max-content;
    background-color: #eef1f3;
    border: 1px solid #ccc;
}

.copyable .btn {
    border: none;
    border-left: 1px solid #ccc;
    border-radius: 0;
}

.copyable pre {
    margin: 0;
    padding: 0 1em;
    overflow-x: auto;
}

.copyable .highlight code::before {
    color: teal;
    display: inline;
    content: "$ ";
}

body {
  padding-top: 4.45rem;
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.5em 1em;
}

.nav hr, .navbar hr {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    opacity: 0.1;
}

.container-fluid .nav .nav-link {
    color: #888;
}

.container-fluid .nav .nav-link.active {
    color: #000;
}

.sticky-top {
    top: 5rem;
}

@include media-breakpoint-down(xxl) {
    .container-xl {
        max-width: 1320px;
    }
}

@include media-breakpoint-down(xl) {
    :root {
        font-size: 14px;
    }
}

@include media-breakpoint-down(md) {
    :root {
        font-size: 13px;
    }
}

@include media-breakpoint-down(sm) {
    :root {
        font-size: 12px;
    }
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
            url('fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
