[tool.poetry]
name = "msys2-web"
version = "0.1.0"
description = ""
authors = ["Christoph Reiter <reiter.christoph@gmail.com>"]
license = "MIT"
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"
httpx = {extras = ["http2"], version = "^0.28.1"}
fastapi = "^0.115.0"
uvicorn = {extras = ["standard"], version = "^0.35.0"}
jinja2 = "^3.1.2"
fastapi-etag = "^0.4.0"
gunicorn = "^23.0.0"
aiolimiter = "^1.0.0-beta.1"
pydantic = "^2.0.3"
MarkupSafe = "^3.0.2"
uvicorn-worker = "^0.3.0"
packageurl-python = "^0.17.0"
pyzstd = "^0.17.0"
mcp = "^1.10.1"

[tool.poetry.group.dev.dependencies]
reuse = "^5.0.2"
mypy = "1.16.1"
flake8 = "^7.0.0"
pytest = "^8.0.0"
requests = "^2.23.0"
respx = "^0.22.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
warn_no_return = true
warn_return_any = true
warn_unused_ignores = true
strict_equality = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_defs = true

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]
norecursedirs = ["frontend"]
