body {
    padding-top: 4.45rem;
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.container-fluid .nav .nav-link {
    color: #888;
}

.container-fluid .nav .nav-link.active {
    color: #000;
}

dl ul {
    margin-bottom: 0;
}

.sticky-top {
    top: 5rem;
}

@media (max-width: 992px) {
    html {
        font-size: 0.9em;
    }

    .container {
        max-width: initial;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 0.8em;
    }
}
