{% extends "layout.html" %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Packages</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ sources|length }} base packages</h6>
  </div>
  <div class="card-body overflow-auto">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Package</th>
          <th>Version</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      {% for s in sources %}
        <tr>
          <td><a href="{{ url_for('base', name=s.name) }}">{{ s.name }}</a></td>
          <td>{{ s.version }}</td>
          <td>{{ s.desc }}</td>
         </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
