{% extends "layout.html" %}
{% block title %}Group: {{ name }}{% endblock %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Group: <a href="{{ url_for('.group', name=name) }}">{{ name }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">Packages that are part of the group</h6>
  </div>
  <div class="card-body">
    <ul>
      {% for p in packages %}
        <li><a href="{{ package_url(p) }}">{{ package_name(p) }}</a></li>
      {% else %}
        Group doesn't exist
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
