{% extends "layout.html" %}
{% block content %}

<style>
.irclog {
    width: 100%;
    font-size: 85%;
    margin: 1em 0;
}

.card-body h1, .card-body h2 {
    font-size: 1.2em; 
}

.generatedby {
    font-size: 0.8em; 
}

.part { color: #000099; }
.join { color: #009900; }
.servermsg { color: #009900; }
.nickchange { color: #009900; }
.action { color: #cc00cc; }
.other { color: #888888; }
a.time:before { content: "["; }
a.time:after { content: "]"; }
.nick {
    font-weight: bold;
    color: #ffffff;
}
.navigation {
    margin: 1em 0em;
}
.navigation a, .navigation span {
    margin-right: 1em;
}
</style>

<div class="card mb-3 table table-sm table-hover">
    <div class="card-body">
        <a href="#irc-end">JUMP TO BOTTOM</a>
        <hr>
{{ content|safe }}
    </div>
</div>

<a name="irc-end"></a>

{% endblock %}
