<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <style>
        body {
            padding-top: 4.5rem;
        }
        </style>

        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" ></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </head>
    <body>

<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">MSYS2 Repo</a>
 <form class="form-inline" action="/search" method="get">
    <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

{% block outer %}
<div class="container">
        {% block content %}
        {% endblock %}
</div>
{% endblock %}

    </body>
</html>
