<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'updates' }}" href="{{ url_for('updates') }}">Repo Updates</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'repos' }}" href="{{ url_for('repos') }}">Repos</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'base' }}" href="{{ url_for('base') }}">Packages</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'group' }}" href="{{ url_for('group') }}">Groups</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'search' }}" href="{{ url_for('search') }}">Search</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'outofdate' }}" href="{{ url_for('outofdate') }}">Outdated</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'queue' }}" href="{{ url_for('queue') }}">Update Queue</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'new' }}" href="{{ url_for('new') }}">New Queue</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ 'active' if request.endpoint == 'removals' }}" href="{{ url_for('removals') }}">Pending Removals</a>
</li>
