{% extends "layout.html" %}
{% block title %}Incoming New Packages{% endblock %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Incoming New Packages</h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ new|length }} packages which are only in the Git
      repository but not yet in the pacman repository
    </h6>
  </div>
  <div class="card-body overflow-auto">
    <table class="table  table-hover table-sm">
      <thead>
        <tr>
          <th>Git Change Date</th>
          <th>Package</th>
          <th>Git Version</th>
        </tr>
      </thead>
      <tbody>
          {% for srcpkg in new %}
          <tr>
            <td><a href="{{ srcpkg.history_url }}">{{ srcpkg.date }}</a></td>
            <td><a href="{{ srcpkg.source_url }}">{{ srcpkg.pkgbase }}</a></td>
            <td>{{ srcpkg.build_version }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
