{% extends "layout.html" %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Incoming Package Updates</h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ outofdate|length }} packages which have a newer version in the Git
      repository than in the pacman repository
    </h6>
  </div>
  <div class="card-body overflow-auto">
    <p class="text-muted">The Git related information of this list is updated every few hours</p>
    <table class="table  table-hover table-sm">
      <thead>
        <tr>
          <th>Git Change Date</th>
          <th>Package</th>
          <th>Repo Version</th>
          <th>Git Version</th>
        </tr>
      </thead>
      <tbody>
          {% for (srcpkg, s, p) in outofdate %}
          <tr>
            <td><a href="{{ srcpkg.history_url }}">{{ srcpkg.date }}</a></td>
            {% if s%}
                <td><a href="{{ url_for('base', name=s.name) }}">{{ s.name }}</a></td>
                <td>{{ p.version }}</td>
            {% else %}
                <td><a href="{{ srcpkg.source_url }}">{{ srcpkg.pkgbase }}</a></td>
                <td>-</td>
            {% endif %}
            <td>{{ srcpkg.build_version }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Pending Package Removals</h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ missing|length }} packages which are in the pacman repository, but no
      longer in the Git repository
    </h6>
  </div>
  <div class="card-body overflow-auto">
    <p class="text-muted">The Git related information of this list is updated every few hours</p>
    <table class="table  table-hover table-sm">
      <thead>
        <tr>
          <th>Change Date</th>
          <th>Package</th>
        </tr>
      </thead>
      <tbody>
          {% for s, p in missing %}
           <tr>
            <td><a href="{{ s.history_url }}">{{ p.builddate|timestamp }}</a></td>
            <td><a href="{{ package_url(p) }}">{{ p.name }}</a></td>
           </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
