{% extends "layout.html" %}
{% block title %}Pending Package Removals{% endblock %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Pending Package Removals</h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ missing|length }} packages which are in the pacman repository, but no
      longer in the Git repository and will be removed
    </h6>
  </div>
  <div class="card-body overflow-auto">
    <p class="text-muted">The Git related information of this list is updated every few hours</p>
    <table class="table  table-hover table-sm">
      <thead>
        <tr>
          <th>Change Date</th>
          <th>Package</th>
        </tr>
      </thead>
      <tbody>
          {% for s, p in missing %}
           <tr>
            <td><a href="{{ s.history_url }}">{{ p.builddate|timestamp }}</a></td>
            <td><a href="{{ package_url(p) }}">{{ p.name }}</a></td>
           </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
