{% extends "layout.html" %}
{% block content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Search results for "{{ query }}"</h4>
    <h6 class="card-subtitle mb-2 text-muted">Base packages matching the search query</h6>
  </div>
  <div class="card-body">
    <ul>
      {% for s in sources %}
        <li><a href="{{ url_for('base', name=s.name) }}">{{ s.name }}</a></li>
      {% else %}
        No matches
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
