{% extends "layout.html" %}
{% block title %}Base Package: {{ sources[0].name if sources else '' }}{% endblock %}
{% block inner_content %}

{% for s in sources %}
<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Base Package: <a href="{{ s.name }}">{{ s.name }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ s.desc }}</h6>
  </div>
  <div class="card-header text-muted">
    <a href="{{ s.source_url }}" class="card-link">Source Files</a>
    <span class="card-link">|</span>
    <a href="{{ s.history_url }}" class="card-link">View Changes</a>
    <span class="card-link">|</span>
    <a href="{{ s.searchbug_url }}" class="card-link">Bug Reports</a>
    <span class="card-link">|</span>
    <a href="{{ s.filebug_url }}" class="card-link">Add New Bug</a>
  </div>
  <div class="card-body overflow-auto">

    {% if s.is_outdated %}
    <small><div class="alert alert-secondary" role="alert">
      A <strong>newer upstream version ({{ s.upstream_version }})</strong>
      is available.<br>Consider packaging the new version for
      MSYS2 as well. See <a
      href="https://www.msys2.org/wiki/Creating-Packages/">the
      packaging guide</a> for how to help.
    </div></small>
    {% endif %}

    <dl class="row">
      <dt class="col-sm-3 text-sm-right">Group(s):</dt>
      <dd class="col-sm-9">
        {% for g in s.groups %}
        <a href="{{ url_for('group', group_name=g) }}">{{ g }}</a>{{ ", " if not loop.last else "" }}
        {% else %}
        -
        {% endfor %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Repo(s):</dt>
      <dd class="col-sm-9">
        {% for r in s.repos %}
        {{ r }}{{ ", " if not loop.last else "" }}
        {% else %}
        -
        {% endfor %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Upstream URL:</dt>
      <dd class="col-sm-9"><a href="{{ s.url }}">{{ s.url }}</a></dd>

      <dt class="col-sm-3 text-sm-right">License(s):</dt>
      <dd class="col-sm-9">{{ s.licenses|join(', ') }}</dd>

      <dt class="col-sm-3 text-sm-right">Version:</dt>
      <dd class="col-sm-9">{{ s.version }}</dd>

      <dt class="col-sm-3 text-sm-right">GIT Version:</dt>
      <dd class="col-sm-9">
        {% if s.git_version %}
        <a href="{{ s.source_url }}">{{ s.git_version }}</a>
        {% else %}
        -
        {% endif%}
      </dd>

      {% for info in s.external_infos %}
        <dt class="col-sm-3 text-sm-right">{{ info.name }}:</dt>
        <dd class="col-sm-9"><a href="{{ info.url }}">{{ info.version }}</a>
            {% for url in info.other_urls %}
                | <a href="{{ url }}">{{ url.rsplit("/")[-1] }}</a>
            {% endfor %}
        </dd>
      {% endfor %}

      <dt class="col-sm-3 text-sm-right"></dt>
      <dd class="col-sm-9"><hr></dd>

      <dt class="col-sm-3 text-sm-right">Binary Packages:</dt>
      <dd class="col-sm-9">
        <ul class="list-unstyled">
          {% for k, p in s.packages|dictsort(false) %}
          <li><a href="{{ package_url(p) }}">{{ package_name(p) }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </div>
</div>
{% else %}
No packages found
{% endfor %}

{% endblock %}
