{% extends "layout.html" %}
{% block title %}Base Package: {{ sources[0].name if sources else '' }}{% endblock %}
{% block inner_content %}

{% for s in sources %}
<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Base Package: <a href="{{ s.name }}">{{ s.name }}</a></h4>
  </div>
  <div class="card-header text-muted">
    <div class="row">
        <div class="col-sm border-end text-center">
            <a href="{{ s.source_url }}" class="card-link">Source Files</a>
        </div>
        <div class="col-sm border-end text-center">
            <a href="{{ s.history_url }}" class="card-link">View Changes</a>
        </div>
        <div class="col-sm border-end text-center">
            <a href="{{ s.searchbug_url }}" class="card-link">View Issues</a>
        </div>
        <div class="col-sm text-center">
            <a href="{{ s.filebug_url }}" class="card-link">Report Issue</a>
        </div>
    </div>
  </div>
  <div class="card-body overflow-auto">

    {% if s.is_outdated %}
    <small><div class="alert alert-secondary" role="alert">
      A <strong>newer upstream version ({{ s.upstream_version }})</strong>
      is available.<br>Consider packaging the new version for
      MSYS2 as well. See <a
      href="https://www.msys2.org/wiki/Creating-Packages/">the
      packaging guide</a> for how to help.
    </div></small>
    {% endif %}

    <dl class="row">
      <dt class="col-sm-3 text-sm-end">Description:</dt>
      <dd class="col-sm-9">
        {{ s.desc }}
      </dd>

      <dt class="col-sm-3 text-sm-end">Base Group(s):</dt>
      <dd class="col-sm-9">
        {% for g in s.basegroups %}
        <a href="{{ url_for('basegroups', group_name=g) }}">{{ g }}</a>{{ ", " if not loop.last else "" }}
        {% else %}
        -
        {% endfor %}
      </dd>

      <dt class="col-sm-3 text-sm-end">Repo(s):</dt>
      <dd class="col-sm-9">
        {% for r in s.repos %}
        {{ r }}{{ ", " if not loop.last else "" }}
        {% else %}
        -
        {% endfor %}
      </dd>

      <dt class="col-sm-3 text-sm-end">URL(s):</dt>
      <dd class="col-sm-9">
        {% for name, url in s.urls %}
        <a href="{{ url }}">{{ name }}</a>{{ ", " if not loop.last else "" }}
        {% endfor %}
      </dd>

      <dt class="col-sm-3 text-sm-end">License(s):</dt>
      <dd class="col-sm-9">
        {% for l in s.licenses %}
        {{ licenses_to_html(l)|safe }}{{ ", " if not loop.last else "" }}
        {% endfor %}
      </dd>

      <dt class="col-sm-3 text-sm-end">Version:</dt>
      <dd class="col-sm-9">{{ s.version|strip_epoch }}</dd>

      <dt class="col-sm-3 text-sm-end">GIT Version:</dt>
      <dd class="col-sm-9">
        {% if s.git_version %}
        <a href="{{ s.source_url }}">{{ s.git_version|strip_epoch }}</a>
        {% else %}
        -
        {% endif%}
      </dd>

      {% for ext_id, info in s.external_infos %}
        <dt class="col-sm-3 text-sm-end">{{ ext_id.name }}:</dt>
        <dd class="col-sm-9"><a href="{{ info.url }}">{{ info.version or info.name }}</a>
            {% for url, label in info.other_urls|dictsort %}
                | <a href="{{ url }}">{{ label }}</a>
            {% endfor %}
        </dd>
      {% endfor %}

      <dt class="col-sm-3 text-sm-end"></dt>
      <dd class="col-sm-9"><hr></dd>

      <dt class="col-sm-3 text-sm-end">Binary Packages:</dt>
      <dd class="col-sm-9">
        <ul class="list-unstyled">
          {% for k, p in s.packages|dictsort(false) %}
          <li><a href="{{ package_url(p) }}">{{ p.name }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </div>
</div>
{% else %}
No packages found
{% endfor %}

{% endblock %}
