{% extends "layout.html" %}
{% block title %}Base Group: {{ name }}{% endblock %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Base Group: <a href="{{ url_for('basegroups', group_name=name) }}">{{ name }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ groups|length }} groups</h6>
  </div>
  <div class="card-body">

  {% if not groups %}
    Group doesn't exist
  {% else %}
  <dl class="row">
      <dt class="col-sm-3 text-sm-end">Groups:</dt>
      <dd class="col-sm-9">
        <ul class="list-unstyled">
        {% for g in groups %}
          <li><a href="{{ url_for('groups', group_name=g) }}">{{ g }}</a></li>
        {% endfor %}
        </ul>
      </dd>
  </dl>
  {% endif %}

  </div>
</div>

{% endblock %}
