{% extends "layout.html" %}
{% block title %}Outdated Packages{% endblock %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Outdated Packages</h4>
    <h6 class="card-subtitle mb-2 text-muted">
        All packages: {{ all_sources|length }} |
        Outdated packages: {{ to_update|length }} |
        Missing version info: {{ missing|length }} |
        Skipped: {{ skipped|length }}
    </h6>
  </div>
  <div class="card-body overflow-auto">

    <p class="text-muted">We automatically compare versions against Arch Linux
    and Cygwin. See the <a
    href="https://www.msys2.org/wiki/Creating-Packages/">the packaging guide</a>
    for how to package new upstream versions.</p>

    <table class="table  table-hover table-sm">
      <thead>
        <tr>
          <th>Update Date</th>
          <th>Base Package</th>
          <th>Repo Version</th>
          <th></th>
          <th>New Version</th>
        </tr>
      </thead>
      <tbody>
          {% for (s, myver, gitver, ver, url, date) in to_update %}
           <tr>
            <td class="mytooltip">
                {{ (date|timestamp).split()[0] if date else '' }}
                <template class="mytooltip-content">
                    {% if date %}{{ date|timestamp }} <span class="text-muted">(UTC)</span>{% endif %}
                </template>
            </td>
            <td><a href="{{ url_for('base', base_name=s.name) }}">{{ s.name }}</a></td>
            <td>{{ myver }}{% if gitver %} <span class="text-muted small px-2">({{ gitver }} in git)</span>{% endif %}</td>
            <td>→</td>
            <td><a href="{{ url }}">{{ ver }}</a></td>
           </tr>
          {% endfor %}
      </tbody>
    </table>

    <h6>{{ missing|length }} packages not found in other distros:</h6>
    {% for (s, short_name) in missing %}
        <a href="{{ url_for('base', base_name=s.name) }}">{{ s.name }}</a>
        <span class="text-muted">({{ short_name }})</span>{{ ", " if not loop.last else '' }}
    {% endfor %}

    <br>
    <br>
    <h6>{{ skipped|length }} packages skipped (Windows only etc.):</h6>
    {% for s in skipped %}
        <a href="{{ url_for('base', base_name=s.name) }}">{{ s.name }}</a>{{ ", " if not loop.last  else '' }}
    {% endfor %}
  </div>
</div>

{% endblock %}
