{% extends "layout.html" %}
{% block title %}Package: {{ package_name(packages[0][1]) if packages else '' }}{% endblock %}
{% block inner_content %}

{% for s, p in packages %}
<div class="card mb-3">
  <div class="card-header text-muted">
    <h4 class="card-title"><a href="{{ package_url(p) }}">{{ package_name(p) }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ p.desc }}</h6>
  </div>
  <div class="card-header text-muted">
    <a href="{{ s.source_url }}" class="card-link">Source Files</a>
    <span class="card-link">|</span>
    <a href="{{ s.history_url }}" class="card-link">View Changes</a>
    <span class="card-link">|</span>
    <a href="{{ s.searchbug_url }}" class="card-link">Bug Reports</a>
    <span class="card-link">|</span>
    <a href="{{ s.filebug_url }}" class="card-link">Add New Bug</a>
  </div>
  <div class="card-body overflow-auto">
    <dl class="row">
      <dt class="col-sm-3 text-sm-right">Base Package:</dt>
      <dd class="col-sm-9"><a href="{{ url_for('base', base_name=p.base) }}">{{ p.base }}</a></dd>

      <dt class="col-sm-3 text-sm-right">Repo:</dt>
      <dd class="col-sm-9">{{ package_name(p, p.repo) }}</dd>

      <dt class="col-sm-3 text-sm-right">Installation:</dt>
      <dd class="col-sm-9"><code>pacman -S {{ p.name }}</code></dd>

      <dt class="col-sm-3 text-sm-right">Version:</dt>
      <dd class="col-sm-9">{{ p.version }}</dd>

      <dt class="col-sm-3 text-sm-right">File:</dt>
      <dd class="col-sm-9"> <a href="{{ p.fileurl }}">{{ p.fileurl }}</a></dd>

      <dt class="col-sm-3 text-sm-right">MD5:</dt>
      <dd class="col-sm-9"><code>{{ p.md5sum }}</code></dd>

      <dt class="col-sm-3 text-sm-right">SHA256:</dt>
      <dd class="col-sm-9"><code>{{ p.sha256sum }}</code></dd>

      <dt class="col-sm-3 text-sm-right">Build Date:</dt>
      <dd class="col-sm-9">{{ p.builddate|timestamp }}</dd>

      <dt class="col-sm-3 text-sm-right">Signed By:</dt>
      <dd class="col-sm-9"><a href="{{ p.signature.url }}">{{ p.signature.name }}</a></dd>

      <dt class="col-sm-3 text-sm-right">Signature Date:</dt>
      <dd class="col-sm-9">{{ p.signature.date }}</dd>

      <dt class="col-sm-3 text-sm-right">Package Size:</dt>
      <dd class="col-sm-9">{{ p.csize|filesize }}</dd>

      <dt class="col-sm-3 text-sm-right">Installed Size:</dt>
      <dd class="col-sm-9">{{ p.isize|filesize }}</dd>

      <dt class="col-sm-3 text-sm-right">Dependencies:</dt>
      <dd class="col-sm-9">
        {% if p.depends %}
            <ul class="list-unstyled">
                {% for d, r in p.depends %}
                    <li><a href="{{ package_url(p, d) }}">{{ package_name(p, d) }}</a> {{ r }}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Optional Dependencies:</dt>
      <dd class="col-sm-9">
        {% if p.optdepends %}
            <ul class="list-unstyled">
                {% for d, reason in p.optdepends %}
                    <li><a href="{{ package_url(p, d) }}">{{ package_name(p, d) }}</a>{% if reason %} <span class="text-muted">({{ reason }})</span>{% endif %}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Build Dependencies:</dt>
      <dd class="col-sm-9">
        {% if p.makedepends %}
            <ul class="list-unstyled">
                {% for d, r in p.makedepends %}
                    <li><a href="{{ package_url(p, d) }}">{{ package_name(p, d) }}</a> {{ r }}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Check Dependencies:</dt>
      <dd class="col-sm-9">
        {% if p.checkdepends %}
            <ul class="list-unstyled">
                {% for d, r in p.checkdepends %}
                    <li><a href="{{ package_url(p, d) }}">{{ package_name(p, d) }}</a> {{ r }}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Required By:</dt>
      <dd class="col-sm-9">
        {% if p.rdepends %}
            <ul class="list-unstyled">
                {% for rp, type in p.rdepends %}
                    <li><a href="{{ package_url(rp) }}">{{ package_name(rp) }}</a>{% if type %} <span class="text-muted">({{ type }})</span>{% endif %}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Provides:</dt>
      <dd class="col-sm-9">
        {% if p.provides %}
            <ul class="list-unstyled">
                {% for d in p.provides %}
                    <li><a href="{{ package_url(p, d) }}">{{ package_name(p, d) }}</a> {{ package_restriction(p, d) }}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Conflicts:</dt>
      <dd class="col-sm-9">
        {% if p.conflicts %}
            <ul class="list-unstyled">
                {% for d in p.conflicts %}
                    <li><a href="{{ package_url(p, d) }}">{{ package_name(p, d) }}</a> {{ package_restriction(p, d) }}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Replaces:</dt>
      <dd class="col-sm-9">
        {% if p.replaces %}
            <ul class="list-unstyled">
                {% for d in p.replaces %}
                    <li><a href="{{ package_url(p, d) }}">{{ package_name(p, d) }}</a> {{ package_restriction(p, d) }}</li>
                {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
      </dd>

      <dt class="col-sm-3 text-sm-right">Files:</dt>
      <dd class="col-sm-9 text-nowrap">
        <small>
        <ul class="list-unstyled">
            {% for f in p.files %}
                <li><code>{{ f }}</code></li>
            {% endfor %}
        </ul>
        </small>
      </dd>
    </dl>
  </div>
</div>
{% else %}
No packages found
{% endfor %}

{% endblock %}
