{% extends "layout.html" %}
{% block title %}Python 2 Removal TODOs{% endblock %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Python 2 Removal TODOs</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ results|length }} packages to go</h6>
  </div>
  <div class="card-body overflow-auto">
   <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Base</th>
          <th>Transitive Reverse Dependencies</th>
          <th>Dual Python Package</th>
        </tr>
      </thead>
      <tbody>
      {% for s, info in results %}
        <tr>
          <td><a href="{{ url_for('base', base_name=s) }}">{{ s }}</a></td>
          <td>{{ info[0] }}</td>
          <td>{{ '✓' if info[1] else ''}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
