{% extends "layout.html" %}
{% block title %}Incoming Package Updates{% endblock %}
{% block inner_content %}

<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Incoming Package Updates</h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ updates|length }} packages which have a newer version in the Git
      repository than in the pacman repository
    </h6>
  </div>
  <div class="card-body overflow-auto">
    <table class="table  table-hover table-sm">
      <thead>
        <tr>
          <th>Git Change Date</th>
          <th>Base Package</th>
          <th>Repo Version</th>
          <th></th>
          <th>Git Version</th>
        </tr>
      </thead>
      <tbody>
          {% for (srcpkg, s, p) in updates %}
          <tr>
            <td><a href="{{ srcpkg.history_url }}">{{ srcpkg.date }}</a></td>
            {% if s %}
              <td><a href="{{ url_for('base', base_name=s.name) }}">{{ s.name }}</a></td>
              <td>{{ p.version }}</td>
            {% else %}
              <td><a href="{{ srcpkg.source_url }}">{{ srcpkg.pkgbase }}</a></td>
              <td>-</td>
            {% endif %}
            <td>→</td>
            <td>{{ srcpkg.build_version }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
