{% extends "layout.html" %}
{% block title %}Incoming Package Updates{% endblock %}
{% block inner_content %}



<div class="card mb-3">
  <div class="card-header">
    <h4 class="card-title">Incoming Package Updates</h4>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ updates|length }} packages which have a newer version in the Git
      repository than in the pacman repository
    </h6>
  </div>
  <div class="card-body overflow-auto">

    <p class="text-muted">
        Packages get automatically built via <a
        href="https://github.com/msys2/msys2-autobuild#automated-build-process">msys2-autobuild</a>.
        They still get manually signed and uploaded to the pacman repo after
        they are built, so please be patient :)
    </p>

    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Git Change Date</th>
          <th>Base Package</th>
          <th>Repo Version</th>
          <th></th>
          <th>Git Version</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          {% for (srcpkg, s, p, status) in updates %}
          <tr>
            <td><a href="{{ srcpkg.history_url }}">{{ srcpkg.date }}</a></td>
            {% if s %}
              <td><a href="{{ url_for('base', base_name=s.name) }}">{{ s.name }}</a></td>
              <td>{{ p.version }}</td>
            {% else %}
              <td><a href="{{ srcpkg.source_url }}">{{ srcpkg.pkgbase }}</a></td>
              <td>-</td>
            {% endif %}
            <td>→</td>
            <td>{{ srcpkg.build_version }}</td>
            <td class="mytooltip">
                {% if status[0].url %}
                    <a href="{{ status[0].url }}">{{ status[0].status }}</a>
                {% else %}
                    {{ status[0].status }}
                {% endif %}
                <template class="mytooltip-content">
                    <dl>
                    {% for s in status %}
                    <dt>{{ s.type }}</dt>
                    <dd>{{ s.status }}
                    {% if s.details %}
                    <br>{{ s.details }}
                    {% endif %}</dd>
                    {% endfor %}
                    </dl>
                </template>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">Pending Package Removals</h4>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ removals|length }} packages which are in the pacman repository, but no
        longer in the Git repository and will be removed
      </h6>
    </div>
    <div class="card-body overflow-auto">
      <table class="table  table-hover table-sm">
        <thead>
          <tr>
            <th>Change Date</th>
            <th>Repo</th>
            <th>Package</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            {% for s, p in removals %}
             <tr>
              <td><a href="{{ s.history_url }}">{{ p.builddate|timestamp }}</a></td>
              <td>{{ p.repo }}</td>
              <td><a href="{{ package_url(p) }}">{{ p.name }}</a></td>
              <td>Ready for removal</td>
             </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

{% endblock %}
